@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");
body {
  font-size: 16px;
}

.header {
  width: 100%;
  height: 33.625em;
  background: url("../images/mobile/image-header.jpg");
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
}
.header .nav {
  position: relative;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 3rem);
  margin: 2rem 1.5rem 0em;
}
.header .nav__logo {
  display: flex;
  align-items: center;
}
.header .nav__menu {
  display: flex;
  padding: 3.9375em 0rem 2.4375em;
  position: relative;
  flex-direction: column;
  position: absolute;
  margin-top: 24.5625em;
  width: 100%;
  background-color: white;
  transform: scale(0);
  transition: all 0.5s;
}
.header .nav__menu::before {
  content: "";
  display: block;
  background: transparent;
  position: absolute;
  width: calc(100% - 1.25em);
  height: 1px;
  border-top: 1.25em solid transparent;
  border-right: 1.25em solid white;
  border-bottom: 1.25em solid transparent;
  margin-top: -5.1875em;
}
.header .nav__menu-icon {
  font-size: 1.5rem;
  color: white;
}
.header .nav__menu-check {
  display: none;
}
.header .nav__menu-check:checked ~ .nav__menu {
  transform: scale(1);
}

.link__text {
  display: block;
  font-size: 1.25em;
  font-family: "Barlow", sans-serif;
  letter-spacing: -0.14px;
  text-decoration: none;
  text-align: center;
  color: #818498;
}

.link--menu {
  margin-bottom: 2em;
}

.button {
  width: 140px;
  font-size: 16px;
  padding: 1em 1.875em;
  border-radius: 1.75em;
  outline: none;
  border: none;
  margin: auto;
}
.button__text {
  margin: 0px;
  font-size: 0.9375em;
  font-family: "Fraunces", serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #23303e;
  letter-spacing: -0.107143px;
}

.button--menu-mobile {
  background-color: #fad400;
}

.image {
  width: 100%;
}
.image__img {
  display: block;
  width: 100%;
}

.title {
  width: calc(100% - 3rem);
  margin: 0px auto 1.5em;
}
.title__text {
  margin: 0px;
  font-size: 2em;
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  line-height: 39px;
  text-align: center;
  color: #23303e;
}

.title--underline {
  position: relative;
  margin: auto;
  width: 8.5625em;
}
.title--underline .title__text--underline {
  text-transform: uppercase;
  font-size: 0.9375em;
}
.title--underline .underline {
  position: absolute;
  width: 100%;
  height: 0.625em;
  background-color: #fad400;
  opacity: 0.25;
  border-radius: 1.75em;
  margin-top: -1.0625em;
  margin-bottom: 2em;
  z-index: -1;
}

.text {
  font-size: 16px;
  width: calc(100% - 3rem);
  margin: 0px auto 2em;
}
.text__parraf {
  margin: 0px;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  line-height: 30px;
  letter-spacing: -0.128571px;
  color: #818498;
}

.card-info {
  padding: 4rem 0rem;
}

/*# sourceMappingURL=index.css.map */
