@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");
body {
  font-size: 16px;
}

.title {
  width: calc(100% - 3rem);
  margin: 0px auto 1.5em;
}
.title__text {
  margin: 0px;
  font-size: 2em;
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  line-height: 2.4375em;
  text-align: center;
  color: #23303e;
}

.text {
  font-size: 1em;
  width: calc(100% - 3rem);
  margin: 0px auto 2em;
}
.text__parraf {
  margin: 0px;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.125em;
  text-align: center;
  line-height: 1.875em;
  letter-spacing: -0.128571px;
  color: #818498;
}

.arrow {
  display: block;
  margin: 52px auto 0px;
  height: 107px;
}

.header {
  width: 100%;
  height: 690px;
  background: url("../images/mobile/image-header.jpg");
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
}
.header .nav {
  position: relative;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 3rem);
  margin: 2rem 1.5rem 0em;
}
.header .nav__menu {
  display: flex;
  padding: 3.9375em 0rem 2.4375em;
  position: relative;
  flex-direction: column;
  position: absolute;
  margin-top: 24.5625em;
  width: 100%;
  background-color: white;
  transform: scale(0);
  transition: all 0.5s;
}
.header .nav__menu::before {
  content: "";
  display: block;
  background: transparent;
  position: absolute;
  width: calc(100% - 1.25em);
  height: 1px;
  border-top: 1.25em solid transparent;
  border-right: 1.25em solid white;
  border-bottom: 1.25em solid transparent;
  margin-top: -5.1875em;
}
.header .nav__menu-icon {
  font-size: 1.5rem;
  color: white;
}
.header .nav__menu-check {
  display: none;
}
.header .nav__menu-check:checked ~ .nav__menu {
  transform: scale(1);
}

.logo {
  display: flex;
  align-items: center;
}

.link__text {
  display: block;
  font-size: 1.25rem;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  letter-spacing: -0.14px;
  text-decoration: none;
  text-align: center;
  color: #818498;
}

.link--menu {
  margin-bottom: 2em;
}

.button {
  width: 140px;
  font-size: 16px;
  padding: 1em 1.875em;
  border-radius: 1.75em;
  outline: none;
  border: none;
  margin: auto;
}
.button__text {
  margin: 0px;
  font-size: 0.9375em;
  font-family: "Fraunces", serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #23303e;
  letter-spacing: -0.107143px;
}

.button--menu-mobile {
  background-color: #fad400;
}

.image {
  width: 100%;
}
.image__img {
  display: block;
  width: 100%;
}

.title--header {
  margin: 5.5em auto 0em;
  width: 20.4375em;
}
.title--header .title__text--header {
  font-size: 2.5em;
  line-height: 3.0625rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3906rem;
  color: white;
}

.title--underline {
  position: relative;
  margin: auto;
  width: 8.5625em;
}
.title--underline .title__text--underline {
  text-transform: uppercase;
  font-size: 0.9375em;
}
.title--underline .underline {
  position: absolute;
  width: 100%;
  height: 0.625em;
  background-color: #fad400;
  opacity: 0.25;
  border-radius: 1.75em;
  margin-top: -1.0625em;
  margin-bottom: 2em;
  z-index: -1;
}
.title--underline .underline--red {
  background-color: #fe7867;
}

.title--card {
  display: inline-block;
  width: 100%;
  margin: 34.25em auto 0px;
}
.title--card-text {
  font-size: 1.75em;
}

.title--testimonials {
  margin-bottom: 4em;
}
.title--testimonials .title__text--testimonials {
  font-size: 1em;
  line-height: 1.25em;
  letter-spacing: 0.25em;
  color: #818498;
  text-transform: uppercase;
}

.title--card-testimonial {
  margin-bottom: 0.5625em;
}

.title--testimonial-info {
  font-family: "Fraunces", serif;
  font-size: 1.125em;
  line-height: 1.375em;
  color: #23303e;
}

.text--green {
  color: #25564b;
}

.text--blue {
  color: #19536b;
}

.text--card {
  margin-bottom: 0px;
}
.text--card .text--card-parraf {
  font-size: 1em;
  line-height: 1.6875em;
}

.text--testimonial {
  font-size: 1em;
  line-height: 2em;
  color: #5a636c;
}

.text--testimonial-job {
  font-size: 0.875em;
  line-height: 1.5625em;
  letter-spacing: -0.0063em;
  color: #818498;
}

.card-info {
  padding: 4rem 0rem;
}

.card-bg--strawbery {
  background: url(../images/mobile/cerezas-bg.jpg);
}

.card-bg--orange {
  background: url(../images/mobile/orange-bg.jpg);
}

.card-bg {
  height: 46.875rem;
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
}

.testimonials {
  font-size: 24px;
  width: calc(100% - 3rem);
  margin: 4em auto 0em;
}
.testimonials .testimonial {
  margin-bottom: 4rem;
}
.testimonials .testimonial__img {
  width: 4.5em;
  height: 4.5em;
  display: block;
  margin: auto;
  border-radius: 100%;
  margin-bottom: 2em;
}

.galery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.galery .image {
  width: 50%;
}

.footer {
  background-color: #90d4c6;
  padding: 4em 0rem 5em;
}
.footer .logo--footer__svg {
  display: block;
  margin: auto;
  transform: scale(1.4);
}
.footer .logo--footer__img {
  fill: #25564b;
}
.footer__menu {
  display: flex;
  width: 18.5625em;
  height: 1.5625em;
  margin: 2.5em auto 0rem;
  justify-content: space-between;
}
.footer__menu .link__text--footer {
  font-size: 18px;
  color: #458c7e;
}
.footer__socials {
  width: 10.25em;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 5.5em;
}

@media (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }
  .cards .image {
    width: 50%;
  }
  .cards .card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 0px;
  }
  .cards .card-info .title {
    margin: 0rem auto 1.25em;
  }
  .cards .card-info .title__text {
    line-height: 1.875em;
  }
  .cards .card-info .text {
    margin-bottom: 2.5em;
  }
  .cards .card-bg {
    width: 50%;
  }
  .cards .card-brand {
    order: 1;
  }
  .cards .image-egg {
    order: 2;
  }
  .cards .image-glass {
    order: 3;
  }
  .cards .card-audience {
    order: 4;
  }
  .cards .card-bg--strawbery {
    order: 5;
  }
  .cards .card-bg--orange {
    order: 6;
  }
}
@media (min-width: 1024px) {
  .header {
    height: 35.625em;
    background: url(../images/desktop/image-header.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .header .nav {
    position: static;
  }
  .header .nav__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    flex-direction: row;
    position: static;
    margin-top: 0px;
    width: 435px;
    background-color: transparent;
    transform: scale(1);
  }
  .header .nav__menu::before {
    display: none;
  }
  .header .nav__label {
    display: none;
  }
  .header .nav .button {
    margin: 0px;
    background-color: white;
  }
  .header .nav .button__text {
    color: #23303e;
  }
  .header .nav .link {
    margin-bottom: 0px;
  }
  .header .nav .link__text {
    font-size: 1.125em;
    color: white;
  }

  .cards .card-info .title {
    margin: 0px auto 2em;
  }
  .cards .card-info .title__text {
    line-height: 3.0625em;
  }
}
@media (min-width: 1300px) {
  .cards .card-info--left {
    width: calc(50% - 17.1875em);
    padding: 0rem 6.875em 0rem 10.3125em;
  }
  .cards .card-info--right {
    width: calc(50% - 275px);
    padding: 0px 10.3125em 0px 6.875em;
  }
  .cards .text__parraf {
    text-align: start;
  }
}
@media (min-width: 1500px) {
  .header {
    height: 800px;
  }
}

/*# sourceMappingURL=index.css.map */
